In [1]:
import pandas as pd
import numpy as np

In [17]:
df_path = "E:\data\BirdCLEF\submission.csv"
sub_path = 'E:\data\BirdCLEF\sample_submission.csv'

In [18]:
df = pd.read_csv(df_path)
sample_submission = pd.read_csv(sub_path)
df.shape

(405312, 5)

In [20]:
target_columns = sample_submission.columns[1:].tolist()
num_classes = len(target_columns)
bird2id = {b: i for i, b in enumerate(target_columns)}

In [1]:
# bird2id['magrob']

In [27]:
df['name'] = df.label.apply(lambda row: target_columns[row])

In [28]:
df.head()

             file  range             row_id     score  label     name
0  1000170626.ogg      5   1000170626.ogg_5  0.414911     30  brwowl1
1  1000170626.ogg     10  1000170626.ogg_10  0.451443      1  ashdro1
2  1000170626.ogg     15  1000170626.ogg_15  0.465684    177   woosan
3  1000170626.ogg     20  1000170626.ogg_20  0.345637     98  kenplo1
4  1000170626.ogg     25  1000170626.ogg_25  0.430506     30  brwowl1

### Most detected labels

In [24]:
most_certain = df[df['score'] > 0.99]
most_certain.shape

(49186, 5)

In [25]:
most_certain.label.nunique(), most_certain.label.value_counts()

(129,
 label
 173    11929
 39      9598
 73      3396
 136     2358
 64      1622
        ...
 106        1
 94         1
 137        1
 65         1
 69         1
 Name: count, Length: 129, dtype: int64)

### Find nocall

In [29]:
no_call = df[df['score'] < 0.1]
no_call.shape

(253, 6)

In [30]:
no_call.head()

               file  range              row_id     score  label     name
76   1000308629.ogg    145  1000308629.ogg_145  0.088034    136  putbab1
82   1000308629.ogg    175  1000308629.ogg_175  0.098005     50  crseag1
89   1000308629.ogg    210  1000308629.ogg_210  0.090077    136  putbab1
315   100065465.ogg    140   100065465.ogg_140  0.096109     50  crseag1
891  1003294151.ogg    140  1003294151.ogg_140  0.085670    146  ruftre2